// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction


// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            layout "us,es"
            options "grp:win_space_toggle" 
        }
        // Enable numlock on startup, omitting this setting disables it.
        numlock
        repeat-delay 300
        repeat-rate 50
    }

    touchpad {
        tap
        // drag-lock
        natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }
}

// https://niri-wm.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    // Uncomment this line to disable this output.
    // off
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "1920x1080@60"
    variable-refresh-rate
    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    scale 1
    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
    // Position of the output in the global coordinate space.
    // This affects directional monitor actions like "focus-monitor-left", and cursor movement.
    // The cursor can only move between directly adjacent outputs.
    // Output scale and rotation has to be taken into account for positioning:
    // outputs are sized in logical, or scaled, pixels.
    // For example, a 3840×2160 output with scale 2.0 will have a logical size of 1920×1080,
    // so to put another output directly adjacent to it on the right, set its x to 1920.
    // If the position is unset or results in an overlap, the output is instead placed
    // automatically.
    position x=1280 y=0
}

output "HDMI-A-1" {
    mode "2560x1440@60"
    variable-refresh-rate
    scale 1
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    background-color "transparent"
    gaps 12
    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    // center-focused-column "never"
    // center-focused-column "always"
    always-center-single-column
    default-column-width {}
    focus-ring {
        off
        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
    border {
        width 3
        active-color "#ffc87f"
        inactive-color "#505050"
        // Color of the border around windows that request your attention.
        urgent-color "#9b0000"
    }
    shadow {
        // Uncomment the next line to enable shadows.
        // on
        // draw-behind-window true
        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.
        // Softness controls the shadow blur radius.
        softness 30
        // Spread expands the shadow.
        spread 5
        // Offset moves the shadow relative to the window.
        offset x=0 y=5
        // You can also change the shadow color and opacity.
        color "#0007"
    }
}


hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"brave$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="brave"
    match app-id="^kitty$"
    default-column-width { proportion 0.5; } 
}

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    opacity 1.0
}

binds {
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }

    Mod+S hotkey-overlay-title="Launcher" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+Return hotkey-overlay-title="Terminal" { spawn "kitty"; }
    Mod+B hotkey-overlay-title="Browser" { spawn "brave" "--ozone-platform-hint=auto"; } 
    // Mod+Y hotkey-overlay-title="Open File Browser" { spawn "kitty" "-e" "yazi"; }
    Mod+N hotkey-overlay-title="File Browser" { spawn "nautilus"; }
    // Alt+Tab { spawn-sh "noctalia msg window-switcher"; }
    
    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }
    Mod+V       { toggle-window-floating; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+C { center-column; }
    // Mod+Ctrl+C { center-visible-columns; }

    // SCREENSHOTS
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // MOVING AROUND
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Left  { consume-or-expel-window-left; } 
    Mod+Shift+Right { consume-or-expel-window-right; } 
    Mod+Shift+H     { consume-or-expel-window-left; } 
    Mod+Shift+L     { consume-or-expel-window-right; } 

    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+Down     { focus-window-or-workspace-down; }
    Mod+Up     { focus-window-or-workspace-up; }

    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down     { move-window-down-or-to-workspace-down; }
    Mod+Shift+Up     { move-window-up-or-to-workspace-up; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    // Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    // Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollDown { focus-column-right; }
    Mod+WheelScrollUp   { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    F3 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    F2 allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    F1 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    F4 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    F6 allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    F5 allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    // XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    // XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    // XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    // XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    // XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"
// screenshot-path null

spawn-at-startup "noctalia"
spawn-at-startup "brave"
spawn-at-startup "kitty"
include "noctalia.kdl"

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

overview {
    workspace-shadow { 
        off 
    }
}

